.places{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}
.places h1{
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    font-size: 30px;
}
.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;

}
.places article h2{
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 40px;
}
.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
}
.information{
    height: 80px;
    border-top: 1px solid  #DDDDDD;
    border-bottom: 1px solid  #DDDDDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.max_guest,.number_rooms,.number_bathrooms{
    width: 100px;
    text-align: center;
}
.guest_img,.bathrooms_img,.rooms_img{
    background: url(images/guest.png) no-repeat center;
    width: 50px;
    height: 50px;
    margin: auto;
}
.rooms_img{
    background: url(images/rooms.png) no-repeat center;
}
.bathrooms_img{
    background: url(images/bathrooms.png) no-repeat center;
}
.max_guest p,.number_bathrooms p,.number_rooms p{
    margin: auto;
    padding-left: 20px;
}
.user{
    padding: 0;
    text-align: left;
}
.description{
    text-align: left;
}

.places article .amenities{
    margin-top: 40px;
    padding: 0;
}
.places .amenities h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD ;
    text-align: left;
}
article .amenities ul{
    text-align: left;
}
article .amenities ul li{
    list-style: none;
    margin-left: -40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tv_icon,.wi_icon,.pet_icon{
    height: 20px;
    width: 20px;
    background: url(images/icon_tv.png) no-repeat;
    background-size: cover;
    margin-right: 15px;
}
.wi_icon{
    height: 20px;
    width: 20px;
    background: url(images/icon_wifi.png) no-repeat;
    background-size: cover;
    margin-right: 15px;
}
.pet_icon{
    height: 20px;
    width: 20px;
    background: url(images/icon_pets.png) no-repeat;
    background-size: cover;
    margin-right: 15px;
}
article .reviews{
    margin-top: 40px;
    text-align: left;
}
.places .reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}
article .reviews ul{
    text-align: left;
}
article .reviews ul li{
    list-style: none;
    margin-left: -40px;
}
article .reviews ul li h3{
    font-size: 14px;
}
article .reviews ul li p{
    font-size: 12px;
}
